/*  
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

*/
body {
  margin: 0;
  padding: 0;
  font-family: IBMPlexSans, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #7dbcff99;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-fluid{
  padding-left: 0px ;
  padding-right: 0px  ;
}
.no-padding{
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.flex-zero{
  flex: 0 0;
}

/**


 Nav


**/

.nav{
  margin: 0px;
  padding: 0px;
  height:60px;
  flex: 0 0 auto;
  background-color: white;
}
.nav-link1{
  max-height: 100%;
  margin: 0px;
  padding-left: 10px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.reddit-icon{
  width: 32px;
  margin: 8px;
  margin-left: 0px;
  margin-right: 15px;
}
.reddit-word{
  height: 18px;
  margin: 8px;
  margin-left: 0px;
  margin-right: 10px;
}


.header{
  margin-bottom: 150px;
}
.search-bar-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-height: 100%;
  height: 100%;
  max-width: 600px;
  width: auto;
  flex-grow: 1;
  padding: 5px;
  position: relative;
}
.search-form{
  font-size: 1rem;
  height: 100%;
  display:flex;
  flex-grow: 1;
  align-items: center;
}
.search-input{
  width:100%;
  height: 44px;
  padding-left: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.search{
  margin: 8px;
} 
.magnifying-glass{
  max-width: 24px;
  min-width: 12px;
  width: 100%;
  height: auto;
  position: absolute;
  vertical-align: middle;
  top: 15%;
  left: 0;
  padding: 0px 0px 0px 5px;
}

/**


 Page


**/
.content-post{
  margin: 0 0 30px 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex: 1 1 auto;
}
.post-container{
  border-right: 0.1rem solid;
  flex-grow: 1;
}
.main-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  /* min-width:100%; */
}
.page-container{
  min-width:100%;
  /* padding-left: 0px;
  padding-right: 0px; */
}


/**


 Post


**/

.vote-container{
  display: flex;
  flex-direction: column;
  flex: 0 0 50px !important;
  background-color: rgba(255,255,255,0.4);
  padding: 10px;
  align-items: center;
  margin: 0;
}
.vote-container-small{
  display: flex;
  /* flex-grow: 0; */
  flex-direction: row;
  align-items: center;
}
.vote-small{
  font-size: 1rem;
  font-weight: bold;
  word-break: normal;
}
.vote-num{
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  word-break: normal;
}
.content-container{
  background-color: #fff;
}
.content-media{
  height: auto;
  margin: 0px 0px 20px 0px ;
  padding: 0px;
}
.video{
  display: block;
  max-height: 100%;
  object-fit: contain
}
.media-video{
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-video-playable-inline: true;
  width: 100%;
  position: absolute;
  padding: 0px;
}
.media-img {
  width: 100%;
  padding: 0px;
  height: auto;
}
.post-list-container{
  justify-content: center;
  flex: 0 0 auto;

}


.comment{
  margin: 0 0 15px 5px
}